<h2><%=l @tracker.date, :format => :long_ordinal%></h2>

<%= render :partial => "entries", :locals => { :entries => @entries } %>
<%= render :partial => "favourites" %>
<%= render :partial => "new_entry" %>