<h1><%=@month.name%></h1>

<table class="calendar">
  <thead>
    <tr>
      <th>Mon</th> <th>Tue</th> <th>Wed</th> <th>Thu</th> <th>Fri</th> <th>Sat</th> <th>Sun</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% (@month.start.cwday - 1).times do %>
        <td/>
      <% end %>
  <% @month.each_tracker do |date, tracker| %>
    <% if start_of_week?(date) and not start_of_month?(date) %>
    </tr>
    <tr>
    <% end %>
      <%= content_tag(:td, :id => date, :class => ("today" if date.today?), "data-behaviours" => "open_tracker") do %>
        <span class="date"><%= link_to date.day, tracker_entries_path(tracker) %></span>
        <p class="points"><%=tracker.points%></p>
      <% end %>
  <% end %>
    </tr>
  </tbody>
</table>