<h1><%=@date.strftime("%B %Y")%></h1>

<table class="calendar">
  <thead>
    <tr>
      <th>Mon</th> <th>Tue</th> <th>Wed</th> <th>Thu</th> <th>Fri</th> <th>Sat</th> <th>Sun</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% (@date.beginning_of_month.cwday - 1).times do %>
        <td/>
      <% end %>
  <% dates_in_month_of(@date).each do |date| %>
    <% if date.cwday == 1 and date != @date.beginning_of_month %>
    </tr>
    <tr>
    <% end %>
      <%= content_tag(:td, :id => date, :class => ("today" if date == @date)) do %>
        <span class="date"><%=date.day%></span>
        <p class="points"><%=Entry.total_for(date)%></p>
      <% end %>
  <% end %>
    </tr>
  </tbody>
</table>