.calendar thead tr {
  height: 2em;
  background-color: #ddd;
}

.calendar tr {
  height: 6em;
}

.calendar th {
  border: 1px solid #ccc;
  text-align: center; 
}

.calendar td {
  border: 1px solid #ccc;
  text-align: right;
  vertical-align:text-top;
  width: 8em;
}

.calendar td.today {
  background-color: #ff8;
}

.calendar td:hover {
  background-color: #fcc;
  cursor: pointer;
}

.calendar a, .calendar a:hover, .calendar a:active {
  color: #000;
  text-decoration: none;
}

.calendar td .date {
  font-size: 85%;
  width: 10px;
}

.calendar td .points {
  text-align: center;
  font-size: 200%;
  margin-top: 10px;
  font-weight: bold;
}